doctype html
html.no-js
	head
		include includes/head.jade
	title Our Project

	body
		include includes/mixin.jade

		.container-fluid
			.row
				.col-md-3.left-section#left-bar
					include includes/header.jade

				.col-md-9.p-3#content

					h4(class='hero-heading') My name is Chetan, and I enjoy meeting new people and finding ways to help them have an uplifting experience.

					.row
						.col-md-6

							+skinlinfo(
							'Front end',
							'Lorem Ipsum is simply dummy text of the printing and typesetting industry')

							+skills('HTML5','CSS3','Jade','SASS','JavaScript','XML')

						.col-md-6

							+skinlinfo(
							'Back end',
							'Lorem Ipsum is simply dummy text of the printing and typesetting industry')

							+skills('SQL','Jango','mySQL','NodeJS')

					.row
						.col-md-12
							for movie in movieList
								+movie-card(movie)
						


		include includes/footer.jade

