include ./mixin.jade
.row.user-profile
	.col-md-12
		.user-img
			img(src="images/chetan.jpg",class="",alt="User profile image")
		a#name(href="#FIXME") Chetan Kadam
		p.sub-title FrontEnd Developer at AasaanJobs

+mainNav

.row
	ul#social-media.col-md-12
		li
			a#facebook(href="#",class='fb',target="_blank")
				img(src="images/fb.png", alt="FaceBook")
		li
			a#instagram(href="#",class='insta',target="_blank")
				img(src="images/instagram.png", alt="Instagram")
		li
			a#linkedIn(href="#",class='liked',target="_blank")
				img(src="images/linked_in.png", alt="LinkedIn")