include ./mixin.jade

a#name(href="#FIXME") Chetan Kadam
	p.sub-title FrontEnd Developer at AasaanJobs

	+mainNav

	ul#social-media
		li
			a#facebook(href="#")
				img(src="images/fb.png", alt="FaceBook",style='width:100%')
		li
			a#instagram(href="#")
				img(src="images/instagram.png", alt="Instagram",style='width:100%')
		li
			a#linkedIn(href="#")
				img(src="images/linked_in.png", alt="LinkedIn",style='width:100%')